<h1 *ngIf="refuelingAdded">Pomyślnie dodano tankowanie nr {{lastAddedRefueling.id}}</h1>
<h1 *ngIf="refuelingUpdated">Pomyślnie edytowano tankowanie nr {{lastAddedRefueling.id}}</h1>
<h1 *ngIf="updatingMode">Edycja tankowania nr {{updatingId}}</h1>
<form [formGroup]="addRefuelingForm" (ngSubmit)="addRefueling()">
  <label for="chooseVehicle">Wybierz tankowany pojazd: </label>
  <select id="chooseVehicle" ng-model="data.singleSelect" formControlName="chooseVehicle">
    <option *ngFor="let vehicle of allVehicles; let i = index" value="{{i}}" (click)="setCurrentVehicle(i)">
      {{vehicle.mark}} {{vehicle.model}} {{vehicle.yearOfProduction}}
    </option>
  </select>
  <label *ngIf="addRefuelingForm.get('chooseVehicle').errors">Musisz wybrać pojazd.</label>

  <label for="choosePerson">Wybierz osobe tankującą: </label>
  <select id="choosePerson" ng-model="data.singleSelect" formControlName="choosePerson">
    <option *ngFor="let person of allPersons; let i = index" value="{{i}}">
      {{person.firstName}} {{person.lastName}}
    </option>
  </select>
  <label *ngIf="addRefuelingForm.get('choosePerson').errors">Musisz wybrać osobę tankującą.</label>

  <label for="meterStatusInThisTime">Przebieg podczas tankowania: </label>
  <input type="number" id="meterStatusInThisTime" formControlName="meterStatusInThisTime" placeholder="Aktualny stan licznika">
  <label *ngIf="meterStatusError">Przebieg nie może się zmniejszyć.</label>
  <label>Ostani przebieg pojazdu: {{minMeterStatus}}</label>

  <label>Rodzaj tankowanego paliwa: </label>
  <input type="radio" name="fuelType" formControlName="fuelType" value="PETROL">Benzyna
  <div *ngIf="choosedVehicleType !== 'MOTORBIKE'">
    <input type="radio" name="fuelType" formControlName="fuelType" value="OIL">Ropa
    <input type="radio" name="fuelType" formControlName="fuelType" value="LPG">LPG
  </div>
  <label *ngIf="addRefuelingForm.get('fuelType').errors">Musisz wybrać rodzaj paliwa.</label>

  <label for="litres">Ilość paliwa (w litrach): </label>
  <input type="number" id="litres" formControlName="litres" placeholder="Liczba litrow">
  <label *ngIf="addRefuelingForm.get('litres').errors">Ilość paliwa nie może być mniejsza od 0.</label>

  <label for="priceForLiterInThisTime">Cena za litr: </label>
  <input type="number" id="priceForLiterInThisTime" formControlName="priceForLiterInThisTime" placeholder="Cena za litr">
  <label *ngIf="addRefuelingForm.get('priceForLiterInThisTime').errors">Cena nie może być mniejsza od 0.</label>

  <label>Data: </label>
  <input type="date" id="date" formControlName="date">
  <label *ngIf="addRefuelingForm.get('date').errors">Wybierz datę</label>

  <label>Godzina: </label>
  <input type="time" id="time" formControlName="time">
  <label *ngIf="addRefuelingForm.get('time').errors">Wybierz czas</label>

  <button type="submit" [disabled]="addRefuelingForm.status === 'INVALID'">Dodaj tankowanie</button>
</form>