<div class="container">
  <div class="box" *ngIf="refueling">
    <h1 class="display-4 text-center">Tankowanie nr {{refueling.id}}</h1>
    <p class="text-center">Dnia:
      <strong>{{refueling.date | date:"dd.MM.yyyy"}}</strong> o godzinie:
      <strong>{{refueling.time | time}}</strong>
    </p>
    <hr>
    <h1 class="display-4 text-center">Pojazd: </h1>
    <p class="text-center">Typ pojazdu: <strong>{{refueling.vehicle.vehicleType | vehicleType}}</strong></p>
    <p class="text-center">Marka i model: <strong>{{refueling.vehicle.mark}} {{refueling.vehicle.model}}</strong></p>
    <p class="text-center">Rok produkcji: <strong>{{refueling.vehicle.yearOfProduction}}r.</strong></p>
    <p class="text-center">Przebieg przy tankowaniu: <strong>{{refueling.meterStatusInThisTime}}km</strong></p>
    <p class="text-center">Średnie spalanie: <strong>{{srednieSp}} L/100Km</strong></p>

    <h1 class="display-4 text-center">Szczegóły tankowania: </h1>
    <p class="text-center">Rodzaj paliwa: <strong>{{refueling.fuelType | fuelType}}</strong></p>
    <p class="text-center">Ilość w litrach: <strong>{{refueling.fuelAmount | roundThis}}L</strong></p>
    <p class="text-center">Cena za litr: <strong>{{refueling.priceForLiterInThisTime | roundThis | currency:'PLN'}}</strong></p>
    <p class="text-center">Łączny rachunek: <strong>{{refueling.fuelAmount * refueling.priceForLiterInThisTime | currency:'PLN'}}</strong></p>
    <div class="row">
      <div class="col-4 offset-4">
        <button (click)="editThisRefueling()" class="btn btn-secondary btn-lg mx-auto d-block">Edytuj</button>
        <button (click)="deleteThisRefueling()" class="btn btn-danger btn-sm mx-auto d-block margin">Usuń z rejestru</button>
      </div>
    </div>
  </div>
</div>