.b {
    border: 1px solid white;
}


.box {
  background-color: #3b3d3d;
  border: 1px solid black;
  margin: auto;
  padding: 50px;
  padding-top: 65px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 3px 15px 15px rgba(47,48,48,1);
  -moz-box-shadow: 3px 3px 200px 15px rgba(47,48,48,1);
  box-shadow: 3px 3px 200px 15px rgba(47,48,48,1);
  opacity: 1;
  border-radius: 15px;
  color: white;
}

.error {
  font-size: 12px;
  color:red;
  font-style: italic;
}

